@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: black;
  font-family: "Roboto", sans-serif;
}

.test {
  background-color: red;
}
.testb {
  border: 1px solid red;
}

.actionBtn:hover {
  padding-left: 22px;
  transition: 0.3s;
}

.cardTitle {
  display: none;
}
.card:hover .cardTitle {
  display: block;
}

.card {
  position: relative;
}

.card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0.79deg,
    #000000 -0.25%,
    rgba(48, 48, 48, 0) 78.77%
  );
  opacity: 0;
  transition: opacity 0.4s linear;
}

.card:hover::before {
  opacity: 1;
}

.carouselImg {
  width: 460px;
  height: 330px;
}

.react-multiple-carousel__arrow::before {
  border: 1px solid #689af8 !important;
  border-radius: 50% !important;
  padding: 35px 40px;
}
