@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: black;
}

.test {
  background-color: red;
}
.testb {
  border: 1px solid red;
}

.actionBtn {
  width: 160px;
  transition: width 0.3s;
}
.actionBtn:hover {
  width: 170px;
  padding-left: 7px;
}

.innerShadow:hover {
  box-shadow: inset 20px 20px 50px #000000;
  border: 1px solid red;
}

.cardTitle {
  display: none;
}
.card:hover .cardTitle {
  display: block;
}
