@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: black;
  font-family: "Roboto", sans-serif;
}

.test {
  background-color: red;
}
.testb {
  border: 1px solid red;
}

.actionBtn:hover {
  padding-left: 22px;
  transition: 0.3s;
}

.cardTitle {
  display: none;
  transition: 3s;
}
.card:hover .cardTitle {
  display: block;
}

.card {
  position: relative;
}

.card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0.79deg,
    #000000 -0.25%,
    rgba(48, 48, 48, 0) 78.77%
  );
  opacity: 0;
  transition: opacity 0.4s linear;
}

.card:hover::before {
  opacity: 1;
}

.carouselImg {
  width: 460px;
  height: 330px;
}

/* .react-multiple-carousel__arrow::before {
  border: 1px solid #689af8 !important;
  border-radius: 50% !important;
  padding: 35px 40px;
} */

/* Animation Card Title */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.reviewCard {
  width: 350px;
  height: 290px;
  overflow: hidden;
  border: 1px solid #f8b712;
  border-radius: 10px;
}
.reviewCard:hover {
  box-shadow: 0px 0px 20px -4px rgba(248, 183, 18, 1);
  cursor: pointer;
}

.star-rating {
  color: #f8b712;
}
